doctype html
html
  head
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    meta name="theme-color" content="#eceff1"
    meta name="description" content="Cleanly and efficiently display any CSGO players' public inventory"
    meta name="keywords" content="csgo, skins, inspect, trade, counter strike, csgo skin statistics"

    link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"
    link type="text/css" rel="stylesheet" href="css/styles.css" media="screen"

    script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
    script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    script src="js/post.js" type="text/javascript"

    link rel="icon" href="img/favicon.ico?v=2"

    title CSGO Skin Stats
  
  body
    noscript
      div style="height:100vh; width:100%; position:fixed"
        p style="text-align:center; position:relative; top:50%; left:50%; transform:translate(-50%,-50%);" Please enable JavaScript.

    div#container
      h1 style="cursor:default" CSGO Skin Stats
      h2 style="color:#EF5350;text-align:center" Valve shut down the old API. I am in the process of switching to the new one.

    form#input name="input" method="post" autocomplete="off"
      input#textbox type="text" name="id" placeholder="Profile URL or Inspect Link" onClick="this.select();" accesskey="n" title="Enter profile URL, inspect link, vanity URL, or SteamID64 to search. Use Alt-N on Windows or Ctrl-Alt-N on Mac to focus on input."
      br
      input#button style="cursor:pointer" type="button" value="Check"

    br

    div.loader.line-scale-pulse-out#loading style="display: none;"
      div.pa
        div
        div
        div
        div
        div

    div#display

    div#footer
      div
        a href="https://github.com/mattrberry/csgoSkinStatistics" Edit on GitHub
      div
        a href="http://store.steampowered.com/" Powered by Steam
